
<div class="wrapper">
  <div class="contactus-3">
    <div class="page-header">
      <img
        alt=""
        class="bg-image"
        src="assets/img/ill/bg_contactus3.svg"
      />
    </div>
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-12 text-center mb-5">
          <h1 class="display-1">Welcome Technician to you OHS platform</h1>
          <h3 class="lead">Please proceed to induction checklist if you've gone through the toolbox talk</h3>
          <button class="btn btn-icon btn-primary mt-3" type="button" routerLink="/add-toolbox-talk">
            <span class="btn-inner--icon">
              <i class="ni ni-app"> </i>
            </span>
            <span class="btn-inner--text">Create Toolbox Talk </span>
          </button>
          <button class="btn btn-icon btn-primary mt-3" type="button" routerLink="/add-induction-checklist">
            <span class="btn-inner--icon">
              <i class="ni ni-check-bold"> </i>
            </span>
            <span class="btn-inner--text" >Create Induction Checklist </span>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-blog" data-header="pattern">
        <a href="javascript:;">
          <img class="img pattern rounded" src="assets/img/ill/p2.svg" />
        </a>
        <div class="card-body">
          <h6 class="card-category text-danger">
            <i class="ni ni-badge"></i> Features
          </h6>
          <h5 class="card-title">
            <a href="javascript:;">FiftyThree Files For Paper</a>
          </h5>
          <p class="card-description">
            Yesterday, as Facebook launched its news reader app Paper, design-focused startup FiftyThree called out Facebook...
          </p>
        </div>
        <div class="card-footer">
          <div class="author">
            <img src="assets/img/faces/team-3.jpg" alt="..." class="avatar img-raised" />
            <span>Johana Doe</span>
          </div>
          <div class="stats stats-right">
            <i class="ni ni-favourite-28"></i> 10.4K ·
            <i class="ni ni-archive-2"></i> 425
          </div>
        </div>
      </div>
      <div class="card bg-gradient-danger">
        <div class="card-body pb-0">
          <h6 class="category-social text-white text-uppercase">
            <i class="fa fa-fire"></i> Focus
          </h6>
          <p class="lead text-white my-0">
            Our brains are finely attuned to distraction
          </p>
        </div>
        <a href="javascript:;">
          <img class="img pattern rounded" src="assets/img/ill/p51.svg" />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-blog" data-header="skew">
        <div class="card-header bg-yellow">
          <div class="card-image">
            <img class="card-img-top" src="assets/img/ill/inn.svg" />
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-category">
            <i class="ni ni-paper-diploma"></i>
            Business
          </h6>
          <h5 class="card-title">
            <a href="javascript:;">Springer Spends $343M To Buy Business Insider</a>
          </h5>
          <p class="card-description">
            German media giant Axel Springer has announced it’s acquiring online business news publication Business Inside...
          </p>
        </div>
      </div>
      <div class="card text-white bg-default">
        <img class="card-img" src="assets/img/ill/inn.svg" alt="Card image" />
        <div class="card-img-overlay d-flex align-items-center">
          <div class="content">
            <h5 class="h2 card-title text-white mb-2">Card Title</h5>
            <p class="card-description">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text text-sm font-weight-bold">Last updated 3 mins ago</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-blog bg-info">
        <img class="img pattern rounded" src="assets/img/ill/p7.svg" />
        <div class="card-body">
          <h4 class="display-4 text-white">Here Be Dragons</h4>
          <p class="lead text-white mt-0">Our brains are finely attuned to distraction, so today's digital environment makes it especially hard to focus...</p>
        </div>
      </div>
      <div class="card card-blog bg-primary" data-image="path">
        <div class="card-image">
          <img class="img rounded" src="assets/img/ill/p22.png" />
        </div>
        <div class="card-body pt-0">
          <h6 class="category text-white">
            <i class="ni ni-atom"></i>
            Focus
          </h6>
          <h5 class="card-title">
            <a class="text-white" href="javascript:;">Stay focused</a>
          </h5>
          <p class="card-description text-white">
            Our brains are finely attuned to distraction, so today's digital environment makes it especially hard to focus...
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
