
<div class="wrapper">
  <div class="contactus-3">
    <div class="page-header">
      <img
        alt=""
        class="bg-image"
        src="assets/img/ill/bg_contactus3.svg"
      />
    </div>
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-12 text-center mb-5">
          <h1 class="display-1">Welcome Technician to you OHS platform</h1>
          <h3 class="lead">Please proceed to induction checklist if you've gone through the toolbox talk</h3>
          <button class="btn btn-icon btn-primary mt-3" type="button" routerLink="/add-toolbox-talk">
            <span class="btn-inner--icon">
              <i class="ni ni-app"> </i>
            </span>
            <span class="btn-inner--text">Create Toolbox Talk </span>
          </button>
          <button class="btn btn-icon btn-primary mt-3" type="button" routerLink="/add-induction-checklist">
            <span class="btn-inner--icon">
              <i class="ni ni-check-bold"> </i>
            </span>
            <span class="btn-inner--text" >Create Induction Checklist </span>
          </button>
            <button class="btn btn-icon btn-primary mt-3" type="button" routerLink="/add-incident">
            <span class="btn-inner--icon">
              <i class="ni ni-notification-70"> </i>
            </span>
                <span class="btn-inner--text" >report incident </span>
            </button>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
      <ng-container class="row" *ngFor="let card of Jobcard">
          <div class="col-md-2" *ngIf="jobs==card.issue_to">
      <div class="card text-white bg-default">
        <img class="card-img" src="assets/img/ill/inn.svg" alt="Card image" />
        <div class="card-img-overlay d-flex align-items-center">
          <div class="content">
            <h5 class="h2 card-title text-white mb-2">{{card.name}}</h5>
            <p class="card-description">{{card.customer}}</p>
              <p class="card-description">{{card.location_name}}</p>
              <p class="card-description">{{card.job_description}}</p>
              <p class="card-description">{{card.status}}</p>
            <p class="card-text text-sm font-weight-bold">{{card.amount_invoiced}}</p>
              <button (click)="openModal(template)" type="button" id="{{card._id}}" class="btn btn-white btn-icon mb-3 mb-sm-0">View More</button>
          </div>
        </div>
      </div>
      <ng-template #template>
          <div class="modal-header">
              <h1 class="modal-title pull-right">Job cards</h1>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="form-group mb-3"  [ngClass]="{ 'focused': focus === true }">
                  <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="ni ni-circle-08"> </i>
                </span>
                      </div>

                      <div *ngIf="Jobcard.length !== 0">
                          <h3 class="mb-3 text-center">Jobcard List</h3>

                          <div *ngFor="let jobcard of Jobcard">
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">id</small>
                              <div class="col-sm-3">
                                  <blockquote class="blockquote">
                                      <p class="mb-0">{{jobcard._id}}</p>
                                  </blockquote>
                              </div>
                              </div>

                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Name</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.name}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Created At</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.createdAt}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Customer</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.customer}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Starting Date</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.starting_date}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">End Date</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.end_date}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">id</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.workorder_number}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Location Name</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.location_name}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Job Description</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.job_description}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Job Steps</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.job_steps}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Hazards</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.hazards}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Uncontainable Risks</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.uncontainable_risks}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Control Measures</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.control_measures}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Controlled Risk Levels</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.controlled_risk_levels}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Status</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.status}}</p>
                                      </blockquote>
                                  </div>
                              </div>
                              <div class="row py-3 align-items-center">
                                  <small class="text-uppercase text-muted font-weight-bold">Amount Invoiced</small>
                                  <div class="col-sm-3">
                                      <blockquote class="blockquote">
                                          <p class="mb-0">{{jobcard.amount_invoiced}}</p>
                                      </blockquote>
                                  </div>
                              </div>






                          </div>

                      </div>

                  </div>
              </div>
          </div>
      </ng-template>


  </div>
      </ng-container>

</div>
<div class="row" *ngIf="Workpermit.length !== 0">
    <div class="col-md-3" *ngFor="let workpermit of Workpermit">
        <div
                class="card card-pricing bg-info card-background"
                data-background="image"
                style="background-image: url('assets/img/ill/pricing_bg.svg"
        >
            <div class="card-body">

                <h1 class="card-title">
                    Work permits
                </h1>
                <ul>
                    <li><b> 1 </b> {{workpermit.created_by}}</li>
                    <li><b> 2 </b> {{workpermit.ammendments}}</li>
                    <li><b> 3</b> {{workpermit.site_name}}</li>
                    <li><b>4 </b>{{workpermit.project}} </li>
                    <li><b>5 </b> {{workpermit.ammendments}}</li>
                    <li><b>6 </b> {{workpermit.valid_from}}</li>
                    <li><b>7 </b> {{workpermit.valid_to}}</li>

                </ul>
                <a class="btn btn-white btn-sm mt-3" [routerLink]="['/view-workpermit']">
                    view more
                </a>
            </div>
        </div>
    </div>
</div>
</div>
