
<div class="wrapper">
  <header class="header-4 skew-separator">
    <div class="header-wrapper">
      <nav class="navbar navbar-expand-lg navbar-transparent">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand text-white" href="javascript:;">
           Adiy
            </a>
            <button
              aria-controls="navbarSupportedContent"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="example-header-4"
              type="button"
            >
              <span class="navbar-toggler-icon"> </span>
            </button>
          </div>
          <div
            class="navbar-collapse"
            [isAnimated]="true"
            [collapse]="isCollapsed"
            id="example-header-4"
          >
            <div class="navbar-collapse-header">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a> Adiy <span>  </span> </a>
                </div>
                <div class="col-6 collapse-close text-right">
                  <button
                    aria-controls="navigation-index"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    [attr.aria-expanded]="!isCollapsed"
                    (click)="isCollapsed = !isCollapsed"
                    id="example-header-4"
                    type="button"
                  >
                    <span> </span> <span> </span>
                  </button>
                </div>
              </div>
            </div>
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> About Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> Products </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> Contact Us </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/CreativeTim">
                  <i class="fab fa-twitter"> </i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.facebook.com/CreativeTim"
                >
                  <i class="fab fa-facebook-square"> </i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.instagram.com/CreativeTimOfficial"
                >
                  <i class="fab fa-instagram"> </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="page-header header-video">
        <div class="overlay"></div>
        <video
          autoplay="autoplay"
          loop="loop"
          muted="muted"
          playsinline="playsinline"
        >
          <source
            src="https://www.oberlo.com/wp-content/uploads/2018/10/1.-Pixabay.mp4"
            type="video/mp4"
          />
        </video>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <h1 class="video-text">Welcome to your admin dashboard</h1>
              <h1 class="display-3 text-white">The time to design is right now!</h1>
              <a
                class="btn btn-warning btn-icon mt-3 mb-sm-0"
              >
                <span class="btn-inner--icon">
                  <i class="ni ni-button-play"> </i>
                </span>
                <span class="btn-inner--text"> dashboard </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="blogs-2">
    <div class="container-fluid">
      <div class="row mb-md-5">
        <div class="col-md-8 mx-auto">
          <h3 class="display-3 text-center">Your recent photo uploads</h3>
          <p class="lead text-center">
            I always felt like I could do anything. That's the main thing
            people are controlled by! Thoughts- their perception of
            themselves! They're slowed down by their perception of
            themselves. If you're taught you can't do anything, you won't do
            anything. I was taught I could do everything.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div
            class="card card-blog card-background"
            data-animation="zooming"
          >
            <div
              class="full-background"
              style="background-image: url('assets/img/sections/damian.jpg"
            ></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">
                    AI at the Edge
                  </h6>
                  <h5 class="card-title">doshi</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="card card-blog card-background"
            data-animation="zooming"
          >
            <div
              class="full-background"
              style="background-image: url('assets/img/sections/ashim.jpg"
            ></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">
                    Spectrum
                  </h6>
                  <h5 class="card-title">Mara Sugar</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="card card-blog card-background"
            data-animation="zooming"
          >
            <div
              class="full-background"
              style="background-image: url('assets/img/sections/odin.jpg"
            ></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">
                    Touch on a trend
                  </h6>
                  <h5 class="card-title">Nike</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="card card-blog card-background"
            data-animation="zooming"
          >
            <div
              class="full-background"
              style="background-image: url('assets/img/sections/dane.jpg"
            ></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">
                    Self-Driving Cars
                  </h6>
                  <h5 class="card-title">Driverless Future</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br />

  <br />
  <div class="section section-cards bg-secondary">
    <div class="container">
      <h2 class="mb-5">
        <span>More work</span>
      </h2>
      <h3 class="h4 text-success font-weight-bold mb-4">Social Media</h3>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card bg-gradient-danger">
            <div class="card-body pb-0">
              <h6 class="category-social text-white text-uppercase">
                <i class="fa fa-fire"></i> Focus
              </h6>
              <p class="lead text-white my-0">
                Our brains are finely attuned to distraction
              </p>
            </div>
            <a href="javascript:;">
              <img class="img pattern rounded" src="./assets/img/ill/p51.svg">
            </a>
          </div>
          <div class="card card-blog bg-primary" data-image="path">
            <div class="card-image">
              <img class="img rounded" src="./assets/img/ill/p22.png">
            </div>
            <div class="card-body pt-0">
              <h6 class="category text-white">
                <i class="ni ni-atom"></i>
                Focus
              </h6>
              <h5 class="card-title">
                <a class="text-white" href="javascript:;">Stay focused</a>
              </h5>
              <p class="card-description text-white">
                Our brains are finely attuned to distraction, so today's digital environment makes it especially hard to focus...
              </p>
            </div>
          </div>
          <div class="card card-blog" data-header="pattern">
            <a href="javascript:;">
              <img class="img pattern rounded" src="./assets/img/ill/p2.svg">
            </a>
            <div class="card-body">
              <h6 class="card-category text-danger">
                <i class="ni ni-badge"></i> Features
              </h6>
              <h5 class="card-title">
                <a href="javascript:;">FiftyThree Files For Paper</a>
              </h5>
              <p class="card-description">
                Yesterday, as Facebook launched its news reader app Paper, design-focused startup FiftyThree called out Facebook...
              </p>
            </div>
            <div class="card-footer">
              <div class="author">
                <img src="./assets/img/faces/team-3.jpg" alt="..." class="avatar img-raised">
                <span>Johana Doe</span>
              </div>
              <div class="stats stats-right">
                <i class="ni ni-favourite-28"></i> 10.4K ·
                <i class="ni ni-archive-2"></i> 425
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card text-white bg-default">
            <img class="card-img" src="./assets/img/ill/inn.svg" alt="Card image">
            <div class="card-img-overlay d-flex align-items-center">
              <div class="content">
                <h5 class="h2 card-title text-white mb-2">Card Title</h5>
                <p class="card-description">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text text-sm font-weight-bold">Last updated 3 mins ago</p>
              </div>
            </div>
          </div>
          <div class="card card-blog" data-header="skew">
            <div class="card-header bg-yellow">
              <div class="card-image">
                <img class="card-img-top" src="./assets/img/ill/inn.svg">
              </div>
            </div>
            <div class="card-body">
              <h6 class="card-category">
                <i class="ni ni-paper-diploma"></i>
                Business
              </h6>
              <h5 class="card-title">
                <a href="javascript:;">Springer Spends $343M To Buy Business Insider</a>
              </h5>
              <p class="card-description">
                German media giant Axel Springer has announced it’s acquiring online business news publication Business Inside...
              </p>
            </div>
          </div>
          <div class="card bg-gradient-warning">
            <div class="card-body">
              <h6 class="category text-white">
                <i class="ni ni-money-coins"></i> Features
              </h6>
              <h5 class="card-title">
                <a class="text-white" href="javascript:;">That’s One Way To Ditch Your Passenger</a>
              </h5>
              <p class="card-description text-white">
                As near as we can tell, this guy must have thought he was going over backwards break to bring the nose down...
              </p>
              <div class="card-footer">
                <div class="author">
                  <img src="./assets/img/faces/team-3.jpg" alt="..." class="avatar img-raised">
                  <span>Johana Doe</span>
                </div>
                <div class="stats stats-right">
                  <i class="ni ni-favourite-28"></i> 10.4K ·
                  <i class="ni ni-archive-2"></i> 425
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-blog bg-info">
            <img class="img pattern rounded" src="./assets/img/ill/p7.svg">
            <div class="card-body">
              <h4 class="display-4 text-white">Here Be Dragons</h4>
              <p class="lead text-white mt-0">Our brains are finely attuned to distraction, so today's digital environment makes it especially hard to focus...</p>
            </div>
          </div>
          <div class="card card-blog" data-background="pattern">
            <a href="javascript:;">
              <img class="img pattern rounded" src="./assets/img/ill/p8.svg">
            </a>
            <div class="card-body">
              <h6 class="card-category text-danger">
                <i class="ni ni-badge"></i> News
              </h6>
              <h5 class="card-title">
                <a href="javascript:;">Focus on Your Employees</a>
              </h5>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye
              </p>
            </div>
            <div class="card-footer">
              <div class="author">
                <img src="./assets/img/faces/team-3.jpg" alt="..." class="avatar img-raised">
                <span>Dylan Wyatt</span>
              </div>
              <div class="stats stats-right">
                <i class="ni ni-favourite-28"></i> 10.4K ·
                <i class="ni ni-archive-2"></i> 425
              </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/img/ill/linth3.svg" alt="Image placeholder">
            <div class="card-body">
              <h5 class="h5 card-title mb-0">Get started with Argon</h5>
              <small class="text-muted">by John Snow on Oct 29th at 10:23 AM</small>
              <p class="card-text mt-4">Argon is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
              <a href="#!" class="btn btn-link px-0">View article</a>
            </div>
          </div>
        </div>
      </div>
      <h3 class="h4 text-success font-weight-bold mb-5 mt-5">Ads</h3>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile" data-image="profile-image">
            <div class="card-header">
              <div class="card-image">
                <div class="dropdown">
                  <button type="button" class="btn btn-link dropdown-toggle btn-icon-only" data-toggle="dropdown" aria-expanded="false">
                    <i class="ni ni-settings-gear-65"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                    <a class="dropdown-item" href="javascript:;">Edit Profile</a>
                    <a class="dropdown-item" href="javascript:;">Settings</a>
                    <a class="dropdown-item" href="javascript:;">Log out</a>
                  </div>
                </div>
                <a href="javascript:;">
                  <img class="img rounded" src="./assets/img/faces/team-5.jpg">
                </a>
              </div>
            </div>
            <div class="card-body pt-0">
              <h4 class="display-4 mb-0">Dylan Wyatt</h4>
              <p class="lead">Team Lead</p>
              <div class="table-responsive">
                <ul class="list-unstyled ">
                  <li class="py-1">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-info mr-3">
                          <i class="ni ni-atom"></i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-1">Dedicated entrepreneur</h6>
                      </div>
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-success mr-3">
                          <i class="ni ni-user-run"></i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-1">Urban exploration</h6>
                      </div>
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-danger mr-3">
                          <i class="ni ni-chart-bar-32"></i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-1">Able to get good at everything</h6>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile">
            <div class="card-header bg-info" style="background-image: url('./assets/img/ill/inn.svg')">
              <div class="card-avatar">
                <a href="javascript:;">
                  <img class="img img-raised rounded-circle" src="./assets/img/faces/team-4.jpg">
                </a>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="d-flex justify-content-between">
                <a href="javascript:;" class="btn btn-sm btn-info mr-4 mt-3">Connect</a>
                <a href="javascript:;" class="btn btn-sm btn-default float-right mt-3">Message</a>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Photos</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h5 class="h4">
                  Daisy Paisley<span class="font-weight-light">, 28</span>
                </h5>
                <div class="font-weight-300">
                  <i class="ni location_pin mr-2"></i>Bucharest, Romania
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile" data-image="img-raised">
            <div class="card-header-image">
              <a href="javascript:;">
                <img class="img" src="./assets/img/faces/alejandro-escamilla.jpg">
              </a>
              <div class="card-title text-white">
                Austin Johnson
              </div>
            </div>
            <div class="card-body">
              <h6 class="card-category text-info text-center">Project Manager</h6>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you...
              </p>
            </div>
            <div class="card-footer text-center">
              <button type="button" class="btn-instagram btn-icon-only btn-simple btn btn-default">
                <span class="btn-inner--icon"><i class="fab fa-instagram"></i></span>
              </button>
              <button type="button" class="btn-icon-only btn-simple btn btn-twitter">
                <span class="btn-inner--icon"><i class="fab fa-twitter"></i></span>
              </button>
              <button type="button" class="btn-icon-only btn-simple btn btn-dribbble">
                <span class="btn-inner--icon"><i class="fab fa-dribbble"></i></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile" data-image="img-rounded" style="background-image: url('./assets/img/">
            <div class="card-avatar">
              <a href="javascript:;">
                <img class="img" src="./assets/img/faces/team-1.jpg">
              </a>
            </div>
            <div class="card-body ">
              <h6 class="card-category text-gray">Project Manager</h6>
              <h4 class="card-title">Austin Johnson</h4>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you...
              </p>
              <a href="javascript:;" class="btn btn-info btn-round">Follow</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile" data-background="cover">
            <img class="img pattern pattern-top" src="./assets/img/ill/linth3.svg" alt="cover">
            <div class="card-header">
              <div class="card-avatar">
                <a href="javascript:;">
                  <img class="img img-raised rounded-circle" src="./assets/img/faces/team-3.jpg">
                </a>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="text-center">
                <h5 class="h5 mt-3">
                  Johana Doe<span class="font-weight-light">, 37</span>
                </h5>
                <div class="font-weight-300">
                  <i class="ni location_pin mr-2"></i>Chicago, USA
                </div>
              </div>
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">23K</span>
                  <span class="description">Followers</span>
                </div>
                <div>
                  <span class="heading">47</span>
                  <span class="description">Posts</span>
                </div>
              </div>
              <button type="button" class="btn btn-lg btn-success btn-block">Like!</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile" data-background="full">
            <a href="javascript:;">
              <img class="img img-raised rounded" src="./assets/img/theme/lucy.jpg" />
            </a>
            <div class="card-image">
              <div class="dropdown">
                <button type="button" class="btn btn-link dropdown-toggle btn-icon-only" data-toggle="dropdown" aria-expanded="false">
                  <i class="ni ni-settings-gear-65"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                  <a class="dropdown-item" href="javascript:;">Edit Profile</a>
                  <a class="dropdown-item" href="javascript:;">Settings</a>
                  <a class="dropdown-item" href="javascript:;">Log out</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h4 class="display-4">Jane Doe</h4>
              <p class="lead mt-0 mb-1">Team Lead</p>
              <div class="table-responsive">
                <table class="table tablesorter " id="plain-table">
                  <tbody>
                  <tr>
                    <td class="text-left pl-0">
                      <div class="badge badge-circle badge-info mr-2">
                        <i class="ni ni-hat-3"></i>
                      </div>
                      Skills
                    </td>
                    <td class="text-right">
                      Leadership
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left pl-0">
                      <div class="badge badge-circle badge-info mr-2">
                        <i class="ni ni-satisfied"></i>
                      </div>
                      Hobbies
                    </td>
                    <td class="text-right">
                      Skiing, Chess
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left pl-0">
                      <div class="badge badge-circle badge-info mr-2">
                        <i class="ni ni-bullet-list-67"></i>
                      </div>
                      Level
                    </td>
                    <td class="text-right">
                      • • • • •
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="h4 text-success font-weight-bold mb-5 mt-5">Occasion Cards</h3>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card card-blog card-background" data-animation="zooming">
            <div class="full-background" style="background-image: url('./assets/img/theme/josh-appel.jpg"></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">New Challenges</h6>
                  <h5 class="card-title">Touch on a trend</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card card-blog card-background" data-animation="zooming">
            <div class="full-background" style="background-image: url('./assets/img/theme/john-hoang.jpg"></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">New Opportunities</h6>
                  <h5 class="card-title">Constantly growing</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-blog card-background" data-animation="true">
            <div class="full-background" style="background-image: url('./assets/img/theme/kit-suman.jpg"></div>
            <div class="card-body">
              <div class="content-bottom">
                <h6 class="card-category text-white">Sales Leads</h6>
                <a href="javascript:;">
                  <h5 class="card-title">Configure Blockchain Technology</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="h4 text-success font-weight-bold mb-5 mt-5">Pricing Cards</h3>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card card-pricing bg-success border-0 text-center mb-4" style="background-image: url('./assets/img/ill/pattern_pricing1.svg">
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 text-white py-3 mb-0">Bravo pack</h6>
            </div>
            <div class="card-body">
              <div class="display-2 text-white">$49</div>
              <span class=" text-white">per application</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-book-bookmark"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Complete documentation</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-diamond"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">Working materials in Sketch</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-success">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-white">2GB cloud storage</span>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-link text-white mb-3">Free Trial</button>
            </div>
            <div class="card-footer bg-transparent">
              <a href="#!" class=" text-white">Request a demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-pricing bg-white border-0 text-center mb-4">
            <div class="card-header bg-transparent">
              <h6 class="text-uppercase ls-1 py-3 mb-0">Premium pack</h6>
            </div>
            <div class="card-body">
              <div class="display-2">$89</div>
              <span>per month</span>
              <ul class="list-unstyled my-4">
                <li class="align-items-center">
                  <b class="text-primary">20GB</b> <span>File Storage</span>
                </li>
                <li class="align-items-center">
                  <b class="text-primary">Sketch</b> <span>Working materials in</span>
                </li>
                <li class="align-items-center">
                  <b class="text-primary">Premium</b> <span>Support</span>
                </li>
              </ul>
            </div>
            <div class="card-footer bg-transparent">
              <a href="#!">Request a demo</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-pricing card-background" style="background-image: url('./assets/img/ill/pattern_pricing6.svg">
            <div class="card-body pb-4">
              <h6 class="card-category text-danger text-uppercase">Standard</h6>
              <h1 class="card-title text-default">
                <small>$</small>69</h1>
              <ul>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape icon-shape-info shadow rounded-circle">
                        <i class="ni ni-check-bold"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-whit">Sharing Tools</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape icon-shape-info shadow rounded-circle">
                        <i class="ni ni-check-bold"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-whit">Design Tools</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape icon-shape-danger shadow rounded-circle">
                        <i class="ni ni-fat-remove"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-whit">Private Messages</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape icon-shape-danger shadow rounded-circle">
                        <i class="ni ni-fat-remove"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-sm text-whit">Private Brand</span>
                    </div>
                  </div>
                </li>
              </ul>
              <a href="#pablo" class="btn btn-danger mt-4">
                Choose plan
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-pricing bg-default card-background" style="background-image: url('./assets/img/ill/pricing_bg.svg" data-background="image">
            <div class="card-body">
              <h6 class="card-category text-white text-uppercase">Premium</h6>
              <h1 class="card-title">
                <small class="text-white">$</small>109
              </h1>
              <ul>
                <li>
                  <b>100</b> Projects
                </li>
                <li>
                  <b>5</b> Team Members
                </li>
                <li>
                  <b>55</b> Personal Contacts
                </li>
                <li>
                  <b>5K</b> Messages
                </li>
              </ul>
              <a href="javascript:;" class="btn btn-white btn-sm mt-3">
                Get Started
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-pricing card-coin" style="background-image: url('./assets/img/ill/pattern_pricing5.svg">
            <div class="card-header">
              <img src="./assets/img/dropbox.png" class="img-center shadow">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h5 class="text-uppercase">Platinum Pack</h5>
                  <span>£ 349</span>
                  <hr class="bg-info">
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">350 messages</li>
                  <li class="list-group-item">10K emails</li>
                  <li class="list-group-item">24/7 Support</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center bg-transparent">
              <button class="btn btn-primary mb-3">Get plan</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-pricing bg-gradient-warning text-center" data-icon="big-icon">
            <div class="card-header bg-transparent">
              <div class="icon text-white">
                <i class="ni ni-camera-compact"></i>
              </div>
              <p class="text-white">Premium pack</p>
            </div>
            <div class="card-body">
              <div class="price d-inline">
                <span class="currency text-white">$</span>
                <span class="amount text-white">89</span>
                <span class="frequency text-white">/mo</span>
              </div>
              <ul class="list-unstyled align-items-center">
                <li>
                  <p class="text-sm text-white">10 Templates + Updates</p>
                </li>
                <li>
                  <p class="text-sm text-white">+ Adobe Sketch</p>
                </li>
              </ul>
            </div>
            <div class="card-footer bg-transparent">
              <button type="button" class="btn btn-outline-white">Upgrade</button>
            </div>
          </div>
        </div>
      </div>
      <div>

        <div class="form-group">
          <div class="">
            <div class="card card-pricing card-background" style="background-image: url('./assets/img/ill/pricing_bg.svg" data-background="image" style="width: 100%" data-icon="big-icon">
              <div class="card-header bg-transparent">
                <h2 class="text-black">Upload Template</h2>
          </div>
          <div style="margin-left: 20px; margin-right: 20px">
          <div class="form-group mb-3"  [ngClass]="{ 'focused': focus === true }">
                <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                <span class="input-group-text">
                      <i class="ni ni-circle-08"> </i>
              </span>
          </div> 
          <input
          [(ngModel)]="file"
          [ngModelOptions]="{standalone: true}"
          class="form-control"
          type="file"
          id="file"
          (change)="handleFileInput($event.target.files)">

          </div>
          </div>

          
          <div class="form-group mb-3"  [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="ni ni-circle-08"> </i>
                </span>
              </div>
             
                <label style="padding-top: 10px">Upload For: </label >
                <select class="form-control" id="category"  [(ngModel)]="user"
                [ngModelOptions]="{standalone: true}"
                type="text" (blur)="focus = false"
                (focus)="focus = true"
                >
                    <option *ngFor="let user of users" [value]="user._id">{{user.name}}</option>
                </select>
            </div>
          </div>

          <div class="form-group mb-3"  [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="ni ni-circle-08"> </i>
                </span>
              </div>
              <input 
               [(ngModel)]="amount"
               [ngModelOptions]="{standalone: true}"
               class="form-control"
               placeholder="Amount" 
               type="text" (blur)="focus = false"
               (focus)="focus = true" />
            </div>
          </div>

          <div class="form-group mb-3"  [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="ni ni-circle-08"> </i>
                </span>
              </div>
              <input
               [(ngModel)]="filename"
               [ngModelOptions]="{standalone: true}"
               class="form-control"
               placeholder="Image Name"
               type="text" (blur)="focus = false"
               (focus)="focus = true" />
            </div>
          </div>
          </div>
          <button class="btn btn-primary" id="signup" (click)="upload()" style="width: 140px; margin-left: 40%; margin-bottom: 10px;">Upload</button>

        </div>
    </div>
  </div>
</div>
