
<div class="wrapper">
  <header class="header-4 skew-separator">
    <div class="header-wrapper">
      <nav class="navbar navbar-expand-lg navbar-transparent">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand text-white" href="javascript:;">
           Adiy
            </a>
            <button
              aria-controls="navbarSupportedContent"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="example-header-4"
              type="button"
            >
              <span class="navbar-toggler-icon"> </span>
            </button>
          </div>
          <div
            class="navbar-collapse"
            [isAnimated]="true"
            [collapse]="isCollapsed"
            id="example-header-4"
          >
            <div class="navbar-collapse-header">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a> Adiy <span>  </span> </a>
                </div>
                <div class="col-6 collapse-close text-right">
                  <button
                    aria-controls="navigation-index"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    [attr.aria-expanded]="!isCollapsed"
                    (click)="isCollapsed = !isCollapsed"
                    id="example-header-4"
                    type="button"
                  >
                    <span> </span> <span> </span>
                  </button>
                </div>
              </div>
            </div>
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> About Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> Products </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> Contact Us </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/CreativeTim">
                  <i class="fab fa-twitter"> </i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.facebook.com/CreativeTim"
                >
                  <i class="fab fa-facebook-square"> </i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.instagram.com/CreativeTimOfficial"
                >
                  <i class="fab fa-instagram"> </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>
  </header>


  <div class="section section-cards bg-secondary">
    <div class="container">
      <h2 class="mb-5">
        <span>Provide verification image</span>
      </h2>


      <div>

        <div class="form-group">
          <div class="">
            <div class="card card-pricing card-background" style="background-image: url('./assets/img/ill/pricing_bg.svg" data-background="image" style="width: 100%" data-icon="big-icon">
              <div class="card-header bg-transparent">
                <h2 class="text-black">Upload Image</h2>
          </div>
          <div style="margin-left: 20px; margin-right: 20px">
          <div class="form-group mb-3"  [ngClass]="{ 'focused': focus === true }">
                <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                <span class="input-group-text">
                      <i class="ni ni-circle-08"> </i>
              </span>
          </div> 
          <input
          [(ngModel)]="file"
          [ngModelOptions]="{standalone: true}"
          class="form-control"
          type="file"
          id="file"
          (change)="handleFileInput($event.target.files)">

          </div>
          </div>

          
          <div class="form-group mb-3"  [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="ni ni-circle-08"> </i>
                </span>
              </div>
             
                <label style="padding-top: 10px">Upload For: </label >
                <select class="form-control" id="category"  [(ngModel)]="user"
                [ngModelOptions]="{standalone: true}"
                type="text" (blur)="focus = false"
                (focus)="focus = true"
                >
                    <option *ngFor="let user of users" [value]="user._id">{{user.name}}</option>
                </select>
            </div>
          </div>

          <div class="form-group mb-3"  [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="ni ni-circle-08"> </i>
                </span>
              </div>
              <input
               [(ngModel)]="amount"
               [ngModelOptions]="{standalone: true}"
               class="form-control"
               placeholder="number"
               type="text" (blur)="focus = false"
               (focus)="focus = true" />
            </div>
          </div>

          <div class="form-group mb-3"  [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="ni ni-circle-08"> </i>
                </span>
              </div>
               <label style="padding-top: 10px">site name: </label >
                <select class="form-control" id="category"  [(ngModel)]="filename"
                        [ngModelOptions]="{standalone: true}"
                        type="text" (blur)="focus = false"
                        (focus)="focus = true"
                >
                    <option *ngFor="let card of Jobcard" [value]="card.name">{{card.name}}</option>
                </select>
            </div>
          </div>
          </div>
          <button class="btn btn-primary" id="signup" (click)="upload()" style="width: 140px; margin-left: 40%; margin-bottom: 10px;">Upload</button>

        </div>
    </div>
  </div>
</div>
