<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-12">
            <h3>Add Work Permit</h3>
            <form>

                <div class="form-group">
                    <label  class="form-control-label">Created By</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="jobcardDetails.created_by"  type="text" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Approved By</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="jobcardDetails.approver_by"  type="text" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Ammendments</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="jobcardDetails.ammendments"  type="text" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Issued By</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="jobcardDetails.issued_by"  type="text" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Site Name</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="jobcardDetails.site_name"  type="text" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Project</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="jobcardDetails.project"  type="text" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Technician</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="jobcardDetails.Technician"  type="text" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Comments</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="jobcardDetails.comments"  type="text" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Valid From</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="jobcardDetails.valid_from"  type="text" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Valid To</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="jobcardDetails.valid_to"  type="text" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" (click)="addJobcard()">Create Work Permit</button>
                </div>
            </form>
        </div>

    </div>
</div>
