<nav
  class="navbar navbar-main navbar-expand-lg navbar-dark headroom"
  id="navbar-main"
>
  <div class="container">
    
      <img src="assets/img/brand/blue.png" id="brand-logo"/>
  
    <button
      aria-controls="navbar_global"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      [attr.aria-expanded]="!isCollapsed"
      (click)="isCollapsed = !isCollapsed"
      id="navbar_global"
      type="button"
    >
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div
      class="navbar-collapse"
      [isAnimated]="true"
      [collapse]="isCollapsed"
      id="navbar_global"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
              <img src="assets/img/brand/blue.png" />
          
          </div>
          <div class="col-6 collapse-close">
            <button
              aria-controls="navbar_global"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navbar_global"
              type="button"
            >
              <span> </span> <span> </span>
            </button>
          </div>
        </div>
      </div>

      <!--Start of comment -->
      
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto" *ngIf="mobileView()">
   
        <li class="nav-item dropdown" dropdown>
          <a
            class="nav-link"
            data-toggle="dropdown"
            href="javascript:;"
            dropdownToggle
            role="button"
          >
            <i class="ni ni-single-copy-04 d-lg-none"> </i>
            <span class="nav-link-inner--text"> Examples </span>
          </a>
          <div
            aria-labelledby="navbarDropdownMenuLink"
            class="dropdown-menu"
            *dropdownMenu
          >
            <a class="dropdown-item" [routerLink]="['/examples/about-us']">
              <i class="ni ni-tie-bow text-warning"> </i> About-us
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/blog-post']">
              <i class="ni ni-align-center text-info"> </i> Blog Post
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/blog-posts']">
              <i class="ni ni-chart-bar-32 text-yellow"> </i> Blog Posts
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/contact-us']">
              <i class="ni ni-square-pin text-danger"> </i> Contact Us
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/landing-page']">
              <i class="ni ni-planet text-purple"> </i> Landing Page
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/pricing-page']">
              <i class="ni ni-money-coins text-success"> </i> Pricing
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/ecommerce']">
              <i class="ni ni-box-2 text-pink"> </i> Ecommerce Page
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/product-page']">
              <i class="ni ni-bag-17 text-primary"> </i> Product Page
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/profile-page']">
              <i class="ni ni-circle-08 text-info"> </i> Profile Page
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/error']">
              <i class="ni ni-button-power text-warning"> </i> 404 Error Page
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/500-error']">
              <i class="ni ni-ungroup text-yellow"> </i> 500 Error Page
            </a>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a
            class="nav-link"
            data-toggle="dropdown"
            href="javascript:;"
            dropdownToggle
            role="button"
          >
            <i class="ni ni-tablet-button d-lg-none"> </i>
            <span class="nav-link-inner--text"> App Pages </span>
          </a>
          <div
            aria-labelledby="navbarDropdownMenuLink"
            class="dropdown-menu"
            *dropdownMenu
          >
            <a class="dropdown-item"  [routerLink]="['/examples/account-settings']">
              <i class="ni ni-lock-circle-open text-muted"> </i> Account
              Settings
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/login-page']">
              <i class="ni ni-tv-2 text-danger"> </i> Login Page
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/register-page']">
              <i class="ni ni-air-baloon text-pink"> </i> Register Page
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/reset-page']">
              <i class="ni ni-atom text-info"> </i> Reset Page
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/invoice-page']">
              <i class="ni ni-bullet-list-67 text-success"> </i> Invoice Page
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/checkout-page']">
              <i class="ni ni-basket text-orange"> </i> Checkout Page
            </a>
            <a class="dropdown-item" [routerLink]="['/examples/chat-page']">
              <i class="ni ni-chat-round text-primary"> </i> Chat Page
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto" *ngIf="!mobileView()">
     
        <a
        class="nav-link"
        data-toggle="dropdown"
        href="javascript:;"
        role="button"
        (click)="checkout()" >
        <i class="ni ni-single-copy-04 d-lg-none"> </i>
        <span class="nav-link-inner--text" [routerLink]="['register-page']">Log Out </span>
      </a>
      </ul>

   <!-- End of comment-->
      
    </div>
  </div>
</nav>
