<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-12" >
            <h3>Add Jobcard</h3>
            <h3>Add Jobcard</h3>
            <h3>Add Jobcard</h3>
            <form>
                <h3>Site Jobcard</h3>
                <div class="form-group">
                    <label  class="form-control-label"> Site Name</label>
                    <input class="form-control form-control-alternative" [(ngModel)]="data.name"  type="text" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group" >
                    <label  class="form-control-label">Customer</label>
                    <input class="form-control form-control-alternative" type="text" [(ngModel)]="data.customer"  [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label class="form-control-label">Starting Date</label>
                    <input class="form-control form-control-alternative" type="date" [(ngModel)]="data.starting_date" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">End Date</label>
                    <input class="form-control form-control-alternative" type="date"  [(ngModel)]="data.end_date" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Workorder number</label>
                    <input class="form-control form-control-alternative" type="number"  [(ngModel)]="data.workorder_number" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label class="form-control-label">location name</label>
                    <input class="form-control form-control-alternative" type="text"  [(ngModel)]="data.location_name" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label class="form-control-label">job description</label>
                    <textarea class="form-control form-control-alternative" type="text" [(ngModel)]="data.job_description" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label">job steps</label>
                    <textarea class="form-control form-control-alternative" type="text" [(ngModel)]="data.job_steps" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
                <div class="form-group">
                    <label  class="form-control-label">hazards</label>
                    <input class="form-control form-control-alternative" type="text"  [(ngModel)]="data.hazards" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">uncontrollable risk level</label>
                    <input class="form-control form-control-alternative" type="text"  [(ngModel)]="data.uncontainable_risks" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">control measures</label>
                    <input class="form-control form-control-alternative" type="text"  [(ngModel)]="data.control_measures" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label  class="form-control-label">controlled risk levels</label>
                    <input class="form-control form-control-alternative" type="text"  [(ngModel)]="data.controlled_risk_levels" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
    
                    <label style="padding-top: 10px">status: </label >
                        <select class="form-control" id="category"
                                [ngModelOptions]="{standalone: true}"
                                type="text" (blur)="focus = false"
                                (focus)="focus = true"
                                [(ngModel)]="data.status"
                        >
                            <option>draft</option>
                            <option>pending</option>
                            <option>ready for issue</option>
                            <option>issued</option>
                            <option>discarded</option>
                        </select>
                </div>
                <div class="form-group">
                    <label  class="form-control-label">Amount Invoiced</label>
                    <input class="form-control form-control-alternative" type="number" [(ngModel)]="data.amount_invoiced" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group mb-3 "  [ngClass]="{ 'focused': focus === true }">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="ni ni-circle-08"> </i>
                </span>
                        </div>

                        <label style="padding-top: 10px">Send To: </label >
                        <select class="form-control" id="category"
                                [ngModelOptions]="{standalone: true}"
                                type="text" (blur)="focus = false"
                                (focus)="focus = true"
                                [(ngModel)]="data.issue_to"
                        >
                            <option   *ngFor="let user of users" [value]="user._id">{{user.name}} who is a {{user.role}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" (click)="submitForm()">Create Jobcard</button>
                </div>
            </form>
        </div>

    </div>
</div>
