<div class="container-fliud">

    <!-- Show it when there is no induction checklist created -->
    <div class="no-data text-center" *ngIf="Inductionchecklist.length == 0">
        <p>There is no induction checklist added yet!</p>
        <button class="btn btn-outline-primary" routerLink="/add-induction-checklist">Add Induction Checklist</button>
    </div>

    <!-- Jobcard list table, it hides when there is no employee -->
    <div *ngIf="Inductionchecklist.length !== 0">


        <h3 class="mb-3 text-center">Induction Check List</h3>

        <div>
            <table class="table mb-3" datatable >
                <thead>
                <tr>
                    <th scope="col">Checklist Id</th>
                    <th scope="col">Location</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Position</th>
                    <th scope="col">Workplace</th>
                    <th scope="col">Competencies</th>
                    <th scope="col">Permits</th>
                    <th scope="col">Reporting Incidents</th>
                    <th scope="col">Workplace Safety</th>
                    <th scope="col">Safety Work Method</th>
                    <th scope="col">Specialised Equipment</th>
                    <th scope="col">PPE equipment</th>
                    <th scope="col">Assembly Points</th>
                    <th scope="col">Medical Facility</th>
                    <th scope="col" class="text-right">Emergency Services</th>
                    <th scope="col" class="text-right">Emergency Communication</th>
                    <th scope="col" class="text-right">Fire Fighting</th>


                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let induction of Inductionchecklist">
                    <td>{{induction._id}}</td>
                    <td>{{induction.createdAt}}</td>
                    <td>{{induction.location}}</td>
                    <td>{{induction.manager}}</td>
                    <td>{{induction.position}}</td>
                    <td>{{induction.workplace}}</td>
                    <td>{{induction.permits}}</td>
                    <td>{{induction.reporting_incidents}}</td>
                    <td>{{induction.workplace_safety}}</td>
                    <td>{{induction.safe_work_method}}</td>
                    <td>{{induction.specialised_equipment}}</td>
                    <td>{{induction.ppe_equipment}}</td>
                    <td>{{induction.assembly_points}}</td>
                    <td>{{induction.medical_facility}}</td>
                    <td>{{induction.emergency_services}}</td>
                    <td>{{induction.emergency_communication}}</td>
                    <td>{{induction.firefighting}}</td>


                    <td>


                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>


