<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-12">
            <h3>Add Job Analysis</h3>
            <h3>Add Job Analysis</h3>
            <h3>Add Job Analysis </h3>
            <form>



                <div class="custom-control custom-checkbox">
                    <h3>Job Analysis</h3>
                <div class="form-group">
                
                    <label style="padding-top: 10px">job title: </label >
                        <select class="form-control" id="category"  [(ngModel)]="data.job_title"
                                [ngModelOptions]="{standalone: true}"
                                type="text" (blur)="focus = false"
                                (focus)="focus = true"
                        >
                            <option *ngFor="let card of Jobcard" [value]="card.name">{{card.name}}</option>
                        </select>
                </div>
                    <div class="form-group">
                      
                        <label style="padding-top: 10px">location: </label >
                            <select class="form-control" id="category"  [(ngModel)]="data.location"
                                    [ngModelOptions]="{standalone: true}"
                                    type="text" (blur)="focus = false"
                                    (focus)="focus = true"
                            >
                                <option *ngFor="let card of Jobcard" [value]="card.location_name">{{card.location_name}}</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label  class="form-control-label">summary</label>
                        <input class="form-control form-control-alternative" [(ngModel)]="data.summary"  type="text" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label  class="form-control-label">working condition</label>
                        <input class="form-control form-control-alternative" [(ngModel)]="data.working_condition"  type="text" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label  class="form-control-label">job duties</label>
                        <input class="form-control form-control-alternative" [(ngModel)]="data.job_duties"  type="text" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label  class="form-control-label">machine used</label>
                        <input class="form-control form-control-alternative" [(ngModel)]="data.machine_used"  type="text" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label  class="form-control-label">hazards</label>
                        <input class="form-control form-control-alternative" [(ngModel)]="data.hazards"  type="text" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label  class="form-control-label">qualifications</label>
                        <input class="form-control form-control-alternative" [(ngModel)]="data.qualifications"  type="text" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label  class="form-control-label">experience</label>
                        <input class="form-control form-control-alternative" [(ngModel)]="data.experience"  type="text" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label  class="form-control-label">training</label>
                        <input class="form-control form-control-alternative" [(ngModel)]="data.training"  type="text" [ngModelOptions]="{standalone: true}">
                    </div>








                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" (click)="submitForm()">Add Job Analysis</button>
                </div>
                </div>
            </form>
        </div>

    </div>
</div>
