<div class="container-fliud">

    <!-- Show it when there is no jobcard created -->
    <div class="no-data text-center" *ngIf="Jobcard.length == 0">
        <p>There is no employee added yet!</p>
        <button class="btn btn-outline-primary" routerLink="/create-employee">Add Jobcard</button>
    </div>

    <!-- Jobcard list table, it hides when there is no employee -->
    <div *ngIf="Jobcard.length !== 0">
        <h3 class="mb-3 text-center">Jobcard List</h3>

        <div>
            <table class="table mb-3" >
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Approved By</th>
                    <th scope="col">Ammendments</th>
                    <th scope="col">Issued By</th>
                    <th scope="col">Site Name</th>
                    <th scope="col">Project</th>
                    <th scope="col">Technician</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Valid From</th>
                    <th scope="col">Valid To</th>


                    <th scope="col" class="text-right">Actions</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let jobcard of Jobcard">
                    <td>{{jobcard._id}}</td>
                    <td>{{jobcard.createdAt}}</td>
                    <td>{{jobcard.created_by}}</td>
                    <td>{{jobcard.approver_by}}</td>
                    <td>{{jobcard.ammendments}}</td>
                    <td>{{jobcard.issued_by}}</td>
                    <td>{{jobcard.site_name}}</td>
                    <td>{{jobcard.project}}</td>
                    <td>{{jobcard.Technician}}</td>
                    <td>{{jobcard.comments}}</td>
                    <td>{{jobcard.valid_from}}</td>
                    <td>{{jobcard.valid_to}}</td>




                    <td>

                        <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                            <span class="edit" routerLink="/edit-jobcard/{{jobcard.id}}">Edit</span>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                            <span class="delete" (click)="deleteJobcard(jobcard.id)">Delete</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
