<div class="container custom-container">
    <div class="col-md-12">
        <h3>Add Toolbox Talks</h3>
        <h3>Add Toolbox Talks</h3>
                <h3 class="mb-3 text-center">Update Tool Box Talk</h3>

        <div class="form-group">
            <label  class="form-control-label">Resource Plan</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.resource_plan"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Necessary Procedure</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.necessary_proc"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Government Monitor</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.gov_monitor"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">H2S Training</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.h2s_training"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Hard Hat</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.hard_hat"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Boots</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.boots"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Cover Walls</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.coverwalls"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Hearing Protection</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.hearing_protection"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Other PPE</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.other_ppe"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Scope</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.scope"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Material</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.material"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Traffic Control</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.traffic_control"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Mobile Phones</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.mobile_phones"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Incident Reporting</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.incident_reporting"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Smoking</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.smoking"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Speed Limits</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.speed_limits"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">First Aid Kits</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.first_aid_kit"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Emergency</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.emergency"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Regulatory Requests</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.regulatory_requests"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Fire Permit</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.fire_permit"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Task Hazard</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.task_hazard"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Site Work Permit</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.site_work_permit"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Ground Disturbance</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.ground_disturbance"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Other Permit Forms</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.other_permit_forms"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Fire Extinguishers</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.fire_extinguishers"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Pre-stat Checks</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.prestat_check"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Back Up Alarm</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.back_up_alarm"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Positive Air Shafts</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.positive_air_shafts"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">People Onboard</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.people_onboard"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Wall Heads</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.wall_heads"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Others On Site</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.others_on_site"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Third Party Support</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.third_party_support"  type="text" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <label  class="form-control-label">Sign</label>
            <input class="form-control form-control-alternative" [(ngModel)]="toolboxdData.signs"  type="text" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)="updateToolbox()">Update Tool Box Talk</button>
        </div>

    </div>
</div>
