<header class="header-1">

    <div class="page-header">
        <div
                class="page-header-image"
                style="background-image: url('assets/img/ill/p2.svg')"
        ></div>
        <div class="container">
            <div class="row">
                <div
                        class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column"
                >
                    <h3 class="display-3">OHS PM dashboard</h3>
                    <p class="lead mt-0">
                        Welcome to your Project manager dashboard here you can make job analysis and also view all job cards
                    </p>
                    <br />

                    <div class="buttons">
                        <a class="btn btn-danger" href="javascript:;" [routerLink]="['./add-jobanalysis']"> Make job Analysis </a>
                    </div>
                    <br>
                    <div class="buttons">
                        <a class="btn btn-danger" href="javascript:;" [routerLink]="['/dashboard']"> Analytics </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row">
<div class="col-lg-4" *ngFor="let job of Jobanalysis">
    <div class="card card-lift--hover shadow border-0">
        <div class="card-body py-5">
            <div
                    class="icon icon-shape icon-shape-primary rounded-circle mb-4"
            >
                <i class="ni ni-check-bold"> </i>
            </div>
            <h6 class="text-primary text-uppercase">
                Job Analysis
            </h6>
            <p class="description mt-3">
                {{job.job_title}}
                    <br>
                {{job.location}}
                    <br>
                {{job.summary}}
                    <br>
                {{job.working_condition}}
                    <br>
                {{job.job_duties}}
                    <br>
                {{job.machine_used}}
                    <br>
                {{job.hazards}}
                    <br>
                {{job.qualifications}}
                    <br>
                {{job.experience}}
                    <br>
                {{job.training}}
                    <br>
            </p>
            <a class="btn btn-primary mt-4" href="#">
                Learn more
            </a>
        </div>
    </div>
</div>
</div>
<div class="row" >
<div class="col-lg-3" *ngFor="let jobcard of Jobcard">
    <div class="card card-lift--hover shadow border-0">
        <div class="card-body py-5">
            <div
                    class="icon icon-shape icon-shape-success rounded-circle mb-4"
            >
                <i class="ni ni-istanbul"> </i>
            </div>
            <h6 class="text-success text-uppercase">
                Jobcards
            </h6>
            <p class="description mt-3">
                {{jobcard.name}}
            </p>
            <p class="description mt-3">
            {{jobcard.customer}}
            </p>
            <p class="description mt-3">
                {{jobcard.location_name}}
            </p>
            <p class="description mt-3">
                {{jobcard.status}}
            </p>
            <p class="description mt-3">
                {{jobcard.amount_invoiced}}
            </p>
            <p class="description mt-3">
                {{jobcard.hazards}}
            </p>
            <a class="btn btn-success mt-4" [routerLink]="['/view-jobcard']">
              View All
            </a>
        </div>
    </div>
</div>
</div>
